In [20]:
# Create a list of at least 10 column names to use as X data
X_data =['Education','Age','DistanceFromHome','JobSatisfaction','EnvironmentSatisfaction','JobInvolvement','OverTime','StockOptionLevel','WorkLifeBalance',
'YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']


# Create X_df using your selected columns
X_df = attrition_df[X_data]

# Show the data types for X_df
X_df.dtypes

Education                   int64
Age                         int64
DistanceFromHome            int64
JobSatisfaction             int64
EnvironmentSatisfaction     int64
JobInvolvement              int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

## Part 1: Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [22]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [23]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [24]:
# Split the data into training and testing sets
X_df = attrition_df.drop(columns=['Attrition', 'Department'])
y_df = attrition_df[['Attrition', 'Department']]

In [25]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df.head()

,Age,BusinessTravel,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Travel_Rarely,1,2,Life Sciences,2,94,3,2,Sales Executive,...,3,1,0,8,0,1,6,4,0,5
1,49,Travel_Frequently,8,1,Life Sciences,3,61,2,2,Research Scientist,...,4,4,1,10,3,3,10,7,1,7
2,37,Travel_Rarely,2,2,Other,4,92,2,1,Laboratory Technician,...,3,2,0,7,3,3,0,0,0,0
3,33,Travel_Frequently,3,4,Life Sciences,4,56,3,1,Research Scientist,...,3,3,0,8,3,3,8,7,3,0
4,27,Travel_Rarely,2,1,Medical,1,40,3,1,Laboratory Technician,...,3,4,1,6,3,3,2,2,2,2

In [51]:
# Create a StandardScaler
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()
# Fit the StandardScaler to the training data
df_train = pd.get_dummies(X_df)
# Scale the training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_color_train, y_color_test, y_quality_train, y_quality_test = train_test_split(X_df, y_color, y_quality)

NameError: name 'y_color' is not defined

In [27]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
enc = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
X_train_enc = enc.fit(X_train)
# Create two new variables by applying the encoder
# to the training and testing data

y_train_dept_trans = dept_encoder.transform(y_train[['Department']])
y_test_dept_trans = dept_encoder.transform(y_test[['Department']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

NameError: name 'dept_encoder' is not defined

In [52]:
# Create a OneHotEncoder for the Attrition column
dept_encoder = OneHotEncoder(sparse=False)

# Fit the encoder to the training data
from sklearn.preprocessing import OneHotEncoder
y_train_att_enc = dept_encoder.fit(y_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_att_trans = dept_encoder.transform(y_train[['Attrition']])
y_test_att_trans = dept_encoder.transform(y_test[['Attrition']])
y_train_att_trans[:]

NameError: name 'y_train' is not defined

## Create, Compile, and Train the Model

In [29]:
# Find the number of columns in the X training data
columns = X_train.shape[1]
columns

# Create the input layer
input = layers.Input(shape=(columns,))

# Create at least two shared layers

In [32]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
layer1 = layers.Dense(units=10, activation='relu')(input)
layer2 = layers.Dense(units=10, activation='relu')(layer1)

# Create the output layer
quality_output = layers.Dense(units=1, activation='sigmoid')(layer2)

In [50]:
# Create the model
model = Model(inputs=input, outputs=quality_output)

# Compile the model
model.Compile(optimizer= 'adam',
              loss= {'quality_output': 'categorical_crossentropy', 'color_output':  'binary_crossentropy'},
              metrics=['quality_output', 'accuracy', 'color_output'] )

# Summarize the model
model.summary()

AttributeError: 'Functional' object has no attribute 'Compile'

In [41]:
# Train the model
train_test_split(X_df, y_df, random_state=1)

[      Age     BusinessTravel  DistanceFromHome  Education    EducationField  \
 464    37      Travel_Rarely                 1          3  Technical Degree
 512    27      Travel_Rarely                 3          4           Medical
 480    30  Travel_Frequently                12          4     Life Sciences
 680    36      Travel_Rarely                 7          4             Other
 1023   56      Travel_Rarely                 1          2     Life Sciences
 ...   ...                ...               ...        ...               ...
 715    33  Travel_Frequently                 1          4             Other
 905    29      Travel_Rarely                 1          3     Life Sciences
 1096   40      Travel_Rarely                 6          2           Medical
 235    43      Travel_Rarely                16          3         Marketing
 1061   24         Non-Travel                13          2     Life Sciences

       EnvironmentSatisfaction  HourlyRate  JobInvolvement  JobLevel  \
 464                         2          59               3         3
 512                         1          54               2         1
 480                         2          74               2         1
 680                         2          65               3         1
 1023                        1          90               3         1
 ...                       ...         ...             ...       ...
 715                         3          84               4         2
 905                         4          87               2         4
 1096                        3          38               3         4
 235                         4          80               3         4
 1061                        4          78               3         1

                         JobRole  ...  PerformanceRating  \
 464      Manufacturing Director  ...                  3
 512          Research Scientist  ...                  3
 480        Sales Representative  ...                  3
 680          Research Scientist  ...                  3
 1023         Research Scientist  ...                  4
 ...                         ...  ...                ...
 715   Healthcare Representative  ...                  3
 905           Research Director  ...                  3
 1096                    Manager  ...                  4
 235                     Manager  ...                  4
 1061       Sales Representative  ...                  3

      RelationshipSatisfaction  StockOptionLevel TotalWorkingYears  \
 464                         4                 0                12
 512                         4                 0                 5
 480                         3                 1                 1
 680                         3                 0                 8
 1023                        4                 1                 5
 ...                       ...               ...               ...
 715                         1                 1                 6
 905                         2                 2                 9
 1096                        4                 0                21
 235                         3                 1                22
 1061                        3                 1                 1

       TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
 464                       3                4               6
 512                       0                3               4
 480                       2                4               1
 680                       6                3               6
 1023                      3                4               3
 ...                     ...              ...             ...
 715                       2                3               6
 905                       2                2               7
 1096                      2                3              21
 235                       3                3              17
 1061                      2                3               1

       YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
 464                    5                        1                     2
 512                    2                        1                     1
 480                    0                        0                     0
 680                    2                        0                     1
 1023                   2                        1                     0
 ...                  ...                      ...                   ...
 715                    5                        1                     2
 905                    7                        1                     7
 1096                   7                        7                     7
 235                   13                        1                     9
 1061                   0                        0                     0

 [1102 rows x 25 columns],
       Age     BusinessTravel  DistanceFromHome  Education    EducationField  \
 1291   37      Travel_Rarely                10          4           Medical
 1153   18  Travel_Frequently                 3          2           Medical
 720    30      Travel_Rarely                22          3     Life Sciences
 763    34      Travel_Rarely                10          4     Life Sciences
 976    56      Travel_Rarely                23          3     Life Sciences
 ...   ...                ...               ...        ...               ...
 78     37      Travel_Rarely                 7          4           Medical
 1092   45      Travel_Rarely                28          3  Technical Degree
 399    31      Travel_Rarely                 1          2     Life Sciences
 831    31  Travel_Frequently                15          3           Medical
 35     43      Travel_Rarely                 2          2           Medical

       EnvironmentSatisfaction  HourlyRate  JobInvolvement  JobLevel  \
 1291                        4          58               3         2
 1153                        2          70               3         1
 720                         1          48               3         1
 763                         3          87               3         1
 976                         4          68               3         4
 ...                       ...         ...             ...       ...
 78                          1          30               3         3
 1092                        4          97               3         1
 399                         4          98               2         1
 831                         3          72               3         1
 35                          4          72               4         1

                      JobRole  ...  PerformanceRating RelationshipSatisfaction  \
 1291  Manufacturing Director  ...                  3                        2
 1153    Sales Representative  ...                  3                        3
 720       Research Scientist  ...                  3                        2
 763     Sales Representative  ...                  3                        4
 976   Manufacturing Director  ...                  3                        1
 ...                      ...  ...                ...                      ...
 78         Research Director  ...                  3                        1
 1092      Research Scientist  ...                  4                        4
 399    Laboratory Technician  ...                  3                        3
 831    Laboratory Technician  ...                  3                        3
 35        Research Scientist  ...                  3                        4

       StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
 1291                 0                10                      4
 1153                 0                 0                      2
 720                  0                 7                      2
 763                  1                 1                      2
 976                  1                33                      0
 ...                ...               ...                    ...
 78                   0                16                      3
 1092                 1                 8                      3
 399                  1                 4                      3
 831                  1                 2                      5
 35                   2                 6                      3

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
 1291                1              10                   3
 1153                4               0                   0
 720                 3               5                   2
 763                 3               1                   1
 976                 3              19                  16
 ...               ...             ...                 ...
 78                  4               5                   2
 1092                3               5                   4
 399                 3               4                   2
 831                 2               2                   2
 35                  2               5                   3

       YearsSinceLastPromotion  YearsWithCurrManager
 1291                        0                     8
 1153                        0                     0
 720                         0                     1
 763                         0                     0
 976                        15                     9
 ...                       ...                   ...
 78                          0                     2
 1092                        0                     3
 399                         3                     2
 831                         2                     2
 35                          1                     4

 [368 rows x 25 columns],
      Attrition              Department
 464         No  Research & Development
 512         No  Research & Development
 480        Yes                   Sales
 680         No  Research & Development
 1023        No  Research & Development
 ...        ...                     ...
 715         No  Research & Development
 905         No  Research & Development
 1096        No         Human Resources
 235         No                   Sales
 1061        No                   Sales

 [1102 rows x 2 columns],
      Attrition              Department
 1291       Yes  Research & Development
 1153       Yes                   Sales
 720        Yes  Research & Development
 763         No                   Sales
 976         No  Research & Development
 ...        ...                     ...
 78          No  Research & Development
 1092        No  Research & Development
 399         No  Research & Development
 831        Yes  Research & Development
 35          No  Research & Development

 [368 rows x 2 columns]]

In [46]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test, {'quality_output': y_quality_test, 'color_output': y_color_test})
test_results

NameError: name 'X_test' is not defined

In [47]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {test_results[1]}")
print(f"Attrition Accuracy: {test_results[2]}")

NameError: name 'test_results' is not defined

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.